<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>我的地址</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../css/addContact.css">
</head>

<body>
    <header>
        <a href="javascript:history.back(-1)" class="goback"> </a>
        <p>我的地址</p>
    </header>
    <div class="wrapper">
        <form action="" class="contact-form">
            <div class="form-item">
                <div class="form-item-key">
                    姓&emsp;&emsp;名：
                </div>
                <input type="text" class="form-item-value" placeholder="请输入姓名">
            </div>
            <div class="form-item">
                <div class="form-item-key">
                    联系方式：
                </div>
                <input type="text" class="form-item-value" placeholder="请输入联系方式">
            </div>
            <div class="form-item">
                <div class="form-item-key">
                    公司名称：
                </div>
                <input type="text" class="form-item-value" placeholder="公司名称">
            </div>
            <div class="form-item">
                <div class="form-item-key">
                    通讯地址：
                </div>
                <textarea placeholder="通讯地址"></textarea>
            </div>
        </form>
    </div>
    <div class="btn-wrapper">
        <button class="submit-address">保&emsp;存</button>
    </div>


    <footer>
        <div>
            <a href="../index2.html">
                <div class="img"></div>
                <p class="">首页</p>
            </a>
        </div>
        <div class="">
            <a href="../task/task.html">
                <div class="img"></div>
                <p class="">任务</p>
            </a>
        </div>
        <div>
            <a>
                <div class="activeimg"></div>
                <p class="">我的</p>
            </a>
        </div>
    </footer>
</body>

</html>