<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>我的地址</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../css/person-address.css">
</head>

<body>
    <header>
        <a href="javascript:history.back(-1)" class="goback"> </a>
        <p>我的地址</p>
    </header>
    <div class="wrapper">
        <div class="item">
            <span class="item-title">详细地址：</span>
            <div>
                
            </div>
            <textarea maxlength="38" class="item-info" placeholder="街道门牌信息"></textarea>
            <hr class="underline underline1">
            <hr class="underline underline2">
        </div>
    </div>
    <div class="btn-wrapper">
        <button class="submit-address">确定</button>
    </div>


    <footer>
        <div>
            <a href="../index2.html">
                <div class="img"></div>
                <p class="">首页</p>
            </a>
        </div>
        <div class="">
            <a href="../task/task.html">
                <div class="img"></div>
                <p class="">任务</p>
            </a>
        </div>
        <div>
            <a>
                <div class="activeimg"></div>
                <p class="">我的</p>
            </a>
        </div>
    </footer>
</body>

</html>