<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>绑定手机号码</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../css/bindingPhone.css">
</head>
<body>
<header>
    <a href="#" class="goback" onclick="javascript:history.go(-1)"></a>
    <p>绑定手机号码</p>
</header>
<div class="content">
    <div>
        <img src="../images/person/phone.png" alt="" class="phone">
        <img src="../images/person/icon_y_checked.png" alt="" class="check">
    </div>
    <div>你当前手机号码：<span>18224429446</span></div>
    <div>更换手机号</div>
</div>

</body>
<script src="../../commonjs/jquery-2.1.0.js"></script>
<script type="text/javascript">

</script>
</html>