<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>投诉详情</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../css/complaintInfo.css">
</head>

<body>
    <header>
        <a href="javascript:history.back(-1)" class="goback"> </a>
        <p>投诉详情</p>
    </header>
    <div class="wrapper">
        <div class="item">
            <div class="item-name">基本信息</div>
            <p>
                工单号：<span>1008</span>
            </p>
            <p>
                被投诉人：<span>张三</span>
            </p>
            <p>
                车牌号：<span>川A8869</span>
            </p>
            <p>
                联系方式：<span>123566545</span>
            </p>
            <p>
                关联订单号：<span>HY070712234601</span>
            </p>
        </div>
        <div class="item">
            <div class="item-name">投诉信息</div>
            <p>
                投诉时间：<span>2017-08-19 16:30:45</span>
            </p>
            <p>
                投诉内容：<span class="complaintContent">货物损坏，司机时间延误</span>
            </p>
            
        </div>
        <div class="item">
            <div class="item-name">回复信息</div>
            <p>
                回复人：<span>明海</span>
            </p>
            <p>
                回复时间：<span>2017-08-19 16:30:45</span>
            </p>
            <p>
                <span class="p-left">回复内容：</span>
                <span class="p-right replyContent">你好，给你带来不便请理解，我们会按照货损单价赔偿，请耐心等待结果。</span>
            </p>
            
        </div>
        
        
    </div>


    <footer>
        <div>
            <a href="../index2.html">
                <div class="img"></div>
                <p class="">首页</p>
            </a>
        </div>
        <div class="">
            <a href="../task/task.html">
                <div class="img"></div>
                <p class="">任务</p>
            </a>
        </div>
        <div>
            <a>
                <div class="activeimg"></div>
                <p class="">我的</p>
            </a>
        </div>
    </footer>
</body>

</html>