<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>我的投诉</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../css/myComplaint.css">
</head>

<body>
    <header>
        <a href="javascript:history.back(-1)" class="goback"> </a>
        <p>我的投诉</p>
    </header>
    <div class="wrapper">
        <div class="search-wrapper">
            <div class="input-wrapper">
                <input type="text" placeholder="搜索：司机姓名/车牌号/工单号" class="am-u-sm-10">
                <span class="am-u-sm-2"></span>
            </div>
        </div>
        <ul class="contact-list-wrapper">
            <li>
                <div class="item">
                    <div class="item-left">工单号：<span>10086</span></div>
                    <div class="item-right">状态：<span class="item-right-status">已回复</span></div>
                </div>
                <div class="item">
                    <div class="item-left">姓名：<span>张三</span></div>
                    <div class="item-right">车牌号：<span>川A8869</span></div>
                </div>
                <div class="item">
                    <div class="item-left">投诉时间：<span>2017-07-21 16:30:45</span></div>
                </div>
                <a>
                    <img src="../images/person/right-arrow.png">
                </a>
            </li>
            <li>
                <div class="item">
                    <div class="item-left">工单号：<span>10086</span></div>
                    <div class="item-right">状态：<span class="item-right-status">已回复</span></div>
                </div>
                <div class="item">
                    <div class="item-left">姓名：<span>张三</span></div>
                    <div class="item-right">车牌号：<span>川A8869</span></div>
                </div>
                <div class="item">
                    <div class="item-left">投诉时间：<span>2017-07-21 16:30:45</span></div>
                </div>
                <a>
                    <img src="../images/person/right-arrow.png">
                </a>
            </li>
            <li>
                <div class="item">
                    <div class="item-left">工单号：<span>10086</span></div>
                    <div class="item-right">状态：<span class="item-right-status">已回复</span></div>
                </div>
                <div class="item">
                    <div class="item-left">姓名：<span>张三</span></div>
                    <div class="item-right">车牌号：<span>川A8869</span></div>
                </div>
                <div class="item">
                    <div class="item-left">投诉时间：<span>2017-07-21 16:30:45</span></div>
                </div>
                <a>
                    <img src="../images/person/right-arrow.png">
                </a>
            </li>
        </ul>
    </div>


    <footer>
        <div>
            <a href="../index2.html">
                <div class="img"></div>
                <p class="">首页</p>
            </a>
        </div>
        <div class="">
            <a href="../task/task.html">
                <div class="img"></div>
                <p class="">任务</p>
            </a>
        </div>
        <div>
            <a>
                <div class="activeimg"></div>
                <p class="">我的</p>
            </a>
        </div>
    </footer>
</body>

</html>