<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>我的积分</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../css/myIntegral.css">
</head>
<body>
<header>
    <a href="#" class="goback" onclick="javascript:history.go(-1)"></a>
    <p>我的积分</p>
</header>
<div class="content">
    <div class="integral-show">
        <div class="am-u-sm-6 right">
            <div class="describe">可用积分</div>
            <div class="details">899</div>
        </div>
        <div class="am-u-sm-6 left">
            <div class="describe">等级</div>
            <div class="details">
                <img src="../images/person/tong_brand.png" alt="">
                <span class="describe">（铜牌会员）</span>
            </div>
        </div>
    </div>
    <div class="integral-list">
        <ul>
            <li>
                <div>发货获得积分</div>
                <div>2017-8-21 17:30</div>
                <div>+50</div>
            </li>
            <li>
                <div>发货获得积分</div>
                <div>2017-8-21 17:30</div>
                <div>+50</div>
            </li>
            <li>
                <div>发货获得积分</div>
                <div>2017-8-21 17:30</div>
                <div>+50</div>
            </li>
        </ul>
    </div>
</div>

</body>
<script src="../../commonjs/jquery-2.1.0.js"></script>
<script type="text/javascript">

</script>
</html>