<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>个人中心</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../css/personcenter.css">
</head>
<body>
<div class="head">
    <header>
        <p>个人中心</p>
    </header>
    <div class="detail">
        <div class="am-u-sm-4">
            <div class="img"><img src="../images/person/head-img02.jpg" alt=""></div>
        </div>
        <div class="am-u-sm-8">
            <div class="username"><span>张鹏</span> <span class="position">（铜牌会员）</span></div>
            <div class="company">
                <span class="brand">
                    <img src="../images/person/tong_brand.png" alt="">
                </span>
                <span class="start">
                    <img src="../images/task/single-star.png" alt="">
                    <img src="../images/task/single-star.png" alt="">
                    <img src="../images/task/single-star.png" alt="">
                    <img src="../images/task/single-star.png" alt="">
                </span>
            </div>
        </div>
    </div>
</div>
<div class="person-info">
    <div class="tab">
        <div class="am-u-sm-6 left">
            <div class="am-u-sm-4"><img src="../images/person/icon-integral.png" alt=""></div>
            <div class="am-u-sm-8">
                <p>积分180</p>
                <p class="p2">如何获取积分？</p>
            </div>
        </div>
        <div class="am-u-sm-6">
            <div class="am-u-sm-4"><img src="../images/person/icon-shop.png" alt=""></div>
            <div class="am-u-sm-8">
                <p>积分商城</p>
                <p class="p2">充值卡、加油卡</p>
            </div>
        </div>
    </div>
    <div class="person-list">
        <ul>
            <li><img src="../images/person/icon-person02.png" alt="" ><span>我的积分</span><span class="right">899</span></li>
            <li><img src="../images/person/icon-person03.png" alt="" ><span>我的联系人</span></li>
            <li><img src="../images/person/icon-person04.png" alt="" ><span>我的投诉</span></li>
        </ul>
    </div>
</div>
<footer>
    <div>
        <a href="../index2.html">
            <div class="img"></div>
            <p class="">首页</p>
        </a>
    </div>
    <div class="">
        <a href="../task/task.html">
            <div class="img"></div>
            <p class="">任务</p>
        </a>
    </div>
    <div>
        <a href="###">
            <div class="activeimg"></div>
            <p class="">我的</p>
        </a>
    </div>
</footer>
</body>
</html>