<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>我的联系人</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../css/searchContacts.css">
</head>

<body>
    <header>
        <a href="javascript:history.back(-1)" class="goback"> </a>
        <p>我的联系人</p>
    </header>
    <div class="wrapper">
        <!-- <div class="search-wrapper">
            <div class="input-wrapper">
                <input type="text" placeholder="搜索：联系人姓名或电话" class="am-u-sm-10">
                <span class="am-u-sm-2"></span>
            </div>
        </div> -->
        <ul class="contact-list-wrapper">
            <li>
                <div class="avatar-wrapper">
                    <img src="../images/person/head-img.png">
                </div>
                <div class="contact-info-wrapper">
                    <p class="contact-name">张鹏</p>
                    <p class="contact-phone">电话：13608193669</p>
                    <p class="contact-company">公司：四川海思科制药有限公司</p>
                </div>
            </li>
            <li>
                <div class="avatar-wrapper">
                    <img src="../images/person/head-img.png">
                </div>
                <div class="contact-info-wrapper">
                    <p class="contact-name">张鹏</p>
                    <p class="contact-phone">电话：13608193669</p>
                    <p class="contact-company">公司：四川海思科制药有限公司</p>
                </div>
            </li>
            <li>
                <div class="avatar-wrapper">
                    <img src="../images/person/head-img.png">
                </div>
                <div class="contact-info-wrapper">
                    <p class="contact-name">张鹏</p>
                    <p class="contact-phone">电话：13608193669</p>
                    <p class="contact-company">公司：四川海思科制药有限公司</p>
                </div>
            </li>
            <li>
                <div class="avatar-wrapper">
                    <img src="../images/person/head-img.png">
                </div>
                <div class="contact-info-wrapper">
                    <p class="contact-name">张鹏</p>
                    <p class="contact-phone">电话：13608193669</p>
                    <p class="contact-company">公司：四川海思科制药有限公司</p>
                </div>
            </li>
            <li>
                <div class="avatar-wrapper">
                    <img src="../images/person/head-img.png">
                </div>
                <div class="contact-info-wrapper">
                    <p class="contact-name">张鹏</p>
                    <p class="contact-phone">电话：13608193669</p>
                    <p class="contact-company">公司：四川海思科制药有限公司</p>
                </div>
            </li>
            <li>
                <div class="avatar-wrapper">
                    <img src="../images/person/head-img.png">
                </div>
                <div class="contact-info-wrapper">
                    <p class="contact-name">张鹏</p>
                    <p class="contact-phone">电话：13608193669</p>
                    <p class="contact-company">公司：四川海思科制药有限公司</p>
                </div>
            </li>
            <li>
                <div class="avatar-wrapper">
                    <img src="../images/person/head-img.png">
                </div>
                <div class="contact-info-wrapper">
                    <p class="contact-name">张鹏</p>
                    <p class="contact-phone">电话：13608193669</p>
                    <p class="contact-company">公司：四川海思科制药有限公司</p>
                </div>
            </li>
        </ul>
    </div>


    <footer>
        <div>
            <a href="../index2.html">
                <div class="img"></div>
                <p class="">首页</p>
            </a>
        </div>
        <div class="">
            <a href="../task/task.html">
                <div class="img"></div>
                <p class="">任务</p>
            </a>
        </div>
        <div>
            <a>
                <div class="activeimg"></div>
                <p class="">我的</p>
            </a>
        </div>
    </footer>
</body>

</html>