<!DOCTYPE html>
<html lang="en">

<head>
    <title>引导页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="./css/guidePage.css">
    <script src="../commonjs/jquery-2.1.0.js"></script>

</head>

<body>
    <div id="guidePage" data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
        <ul class="am-slides">
            <li>
                <img src="images/guidePage/Boot-page1.jpg">
            </li>
            <li>
                <img src="images/guidePage/Boot-page2.jpg">
            </li>
        </ul>
    </div>
    <a id="goToIndex" href="javascript:location.href = '/'">欢迎使用</a>
    <script src="../commonjs/amazeui.min.js"></script>
    <script src="./js/guidePage.js"></script>
</body>

</html>