<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>首页</title>
    <link rel="stylesheet" href="../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="./css/index2.css">
</head>

<body>
    <div class="main">
        <div class="home-page-title margin-b">首页</div>
        <div class="banner container">
            <div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
                <ul class="am-slides">
                    <li>
                        <div class="banner01"><img src="./images/index/banner1-1.png" alt=""></div>
                        <div class="banner02"><img src="./images/index/banner1-2.png" alt=""></div>
                        <div class="banner03"><img src="./images/index/banner1-3.png" alt=""></div>
                    </li>
                    <li>
                        <div class="banner01"><img src="./images/index/banner1-1.png" alt=""></div>
                        <div class="banner02"><img src="./images/index/banner1-2.png" alt=""></div>
                        <div class="banner03"><img src="./images/index/banner1-3.png" alt=""></div>
                    </li>
                    <li>
                        <div class="banner01"><img src="./images/index/banner1-1.png" alt=""></div>
                        <div class="banner02"><img src="./images/index/banner1-2.png" alt=""></div>
                        <div class="banner03"><img src="./images/index/banner1-3.png" alt=""></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="function container fl-cl">
            <div class="complaint-rest margin-r">
                <!--投诉和休息-->
                <div class="complaint margin-b img-p">
                    <a href="#">
                        <!--投诉-->
                        <img src="./images/index/icon-complaint.png" alt="" class="max-3">
                        <img src="./images/index/water-drops01.png" alt="" class="water drops1">
                        <img src="./images/index/water-drops01.png" alt="" class="water drops2">
                        <img src="./images/index/water-drops01.png" alt="" class="water drops3">
                        <img src="./images/index/water-drops01.png" alt="" class="water drops4">
                        <div class="text-p">我的投诉</div>
                    </a>
                </div>
                <div class="rest img-p">
                    <a href="#">
                        <!--休息-->
                        <img src="./images/index/icon-phonelist.png" alt="休息" class="max-3">
                        <img src="./images/index/water-drops03.png" alt="" class="water">
                        <div class="text-p">通讯录</div>
                    </a>
                </div>
            </div>
            <div class="satisfaction-freight">
                <!--客户满意度和运费-->
                <div class="satisfaction margin-b img-p" onclick="javascript:window.location.href='./personcenter/personcenter.html'">
                    <a href="#">
                        <!--客户满意度-->
                        <img src="./images/index/icon-person.png" alt="休息" class="max-b">
                        <img src="./images/index/water-drops02.png" alt="" class="water drops1">
                        <img src="./images/index/water-drops02.png" alt="" class="water drops2">
                        <div class="text-p">个人中心</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="activity-receiving-orders container fl-cl">
            <!--活动和一键接单-->
            <div class="activity margin-r">
                <!--活动-->
                <a href="#" class="width-3 position-r-t">
                    <img src="./images/index/img-01.png" alt="充值">
                </a>
                <a href="#" class="width-2 position-l-b">
                    <img src="./images/index/integral.png" alt="充值">
                    <div class="text-p">积分</div>
                </a>
                <a href="#" class="width-3 position-r-b">
                    <img src="./images/index/img-02.png" alt="充值">
                </a>
                <a href="#" class="position-c-c">
                    <img src="./images/index/icon-life.png" alt="休息" class="max-b3">
                </a>
            </div>

            <div class="receiving-orders img-p" onclick="javascript:window.location.href='./task/selectordertype.html'">
                <a href="#">
                    <!--一键接单-->
                    <img src="./images/index/icon-tasks.png" alt="休息" class="max-b">
                    <img src="./images/index/water-drops04.png" alt="" class="water drops1">
                    <img src="./images/index/water-drops04.png" alt="" class="water drops2">
                    <div class="text-p">发布任务</div>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <a>
                <div class="activeimg"></div>
                <p>首页</p>
            </a>
        </div>
        <div>
            <a href="./task/task.html">
                <div class="img"></div>
                <p>任务</p>
            </a>
        </div>
        <div>
            <a href="./personcenter/personcenter.html">
                <div class="img"></div>
                <p>我的</p>
            </a>
        </div>
    </footer>
    <script src="../commonjs/jquery-2.1.0.js"></script>
    <script src="../commonjs/amazeui.min.js"></script>
</body>

</html>