* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Microsoft YaHei";
    background-color: #ddd;
  }
  .nav-header nav {
    background-color: #333;
  }
  .nav-header nav .nav-logo {
    display: inline-block;
  }
  .nav-header nav .nav-logo img {
    height: 50px;
  }
  .nav-header nav .nav-list {
    display: inline-block;
    float: right;
  }
  .nav-header nav .nav-list ul {
    display: inline-block;
    margin-top: 15px;
  }
  .nav-header nav .nav-list ul li {
    font-size: 14px;
    float: left;
    margin-right: 25px;
  }
  .nav-header nav .nav-list ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  .nav-header nav .nav-list ul li:hover,
  .nav-header nav .nav-list ul li.active {
    color: #cccccc;
  }
  .nav-header nav .nav-list ul li:hover a,
  .nav-header nav .nav-list ul li.active a {
    color: #cccccc;
  }
  p {
    text-indent: 2em;
  }
  article,
  aside {
    margin: 20px;
    background-color: #ffffff;
    padding: 30px 20px;
  }
  article header h1,
  aside header h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  article header h2,
  aside header h2 {
    color: #888;
    margin-bottom: 10px;
  }
  article header h6,
  aside header h6 {
    color: #999;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  article figure,
  aside figure {
    width: 216px;
    border: 1px solid #cccccc;
    text-align: center;
    padding: 10px;
    margin: 20px;
  }
  article figure figcaption,
  aside figure figcaption {
    margin-bottom: 10px;
  }
  article section div img,
  aside section div img {
    margin: 10px 0 10px 0;
  }
  article section ul li,
  aside section ul li {
    text-indent: 2em;
    list-style: none;
    margin-bottom: 5px;
  }
  article ol li,
  aside ol li {
    margin-left: 2em;
    margin-bottom: 5px;
  }
  table {
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  table thead {
    background-color: #333333;
    color: white;
  }
  table td {
    border: 1px solid #ccc;
  }
  table td,
  table th {
    padding: 3px;
  }
  table tfoot {
    background-color: #cccccc;
  }
  aside header {
    border-left: 3px solid #ccc;
    padding: 1px 0 1px 10px;
    margin-bottom: 10px;
  }
  aside form div {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  aside form .left {
    display: inline-block;
    width: 40%;
    text-align: right;
  }
  aside form .left:last-of-type {
    vertical-align: top;
  }
  aside form .right {
    margin-left: 5px;
  }
  aside form .placeholder {
    margin-left: 40%;
    margin-left: calc(40% + 10px);
    color: #aaa;
    font-size: 14px;
  }
  aside form input[type="email"],
  aside form input[type="password"],
  aside form textarea,
  aside form select {
    padding: 3px;
  }
  aside form input[type="submit"] {
    width: 100%;
    padding: 10px 0 10px 0;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
  }
  aside form textarea {
    width: 55%;
  }
  footer {
    background-color: black;
    text-align: center;
    padding: 20px 0  30px 0;
  }
  footer span {
    color: white;
  }