fieldset {
  margin-bottom: 20px;
}
input {
  padding: 2px 0;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #999999;
}
select {
  width: 100px;
}
.wrapper {
  display: flex;
  min-width: 760px;
}
.left_configure {
  width: 280px;
  margin-right: 20px;
  flex: 0 0 auto;
}
.item_name {
  margin-bottom: 6px;
}
.item_style_type {
  margin-top: 6px;
}
.len_input {
  width: 66px;
}
.optional_item {
  display: none;
}
.item_in {
  width: 100%;
}
.item_add_btn {
  padding-left: 20px;
}
.add_btn {
  padding: 4px 16px;
  color: #ffffff;
  background-color: #0096FF;
  border: none;
  border-radius: 2px;
}

.right_dispaly_area {
  flex-grow: 1;
  font-size: 22px;
  border: 1px solid #666666;
  border-radius: 2px;
}
.right_dispaly_area h3 {
  text-align: center;
  color: #0096FF;
}
.submit_btn {
  display: none;
}