/* 重置公共样式  reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {display: block;}
ul, ul li {
    list-style: none;
}

html, body {
    padding: 10px;
}

.wrap {
    /* 设置最小宽度 */
    min-width: 600px;
    padding: 16px;
    border: 1px solid #999999;
    border-radius: 2px;
    background-color: #e0e0e0;
    /* 高度自适应 */
    overflow: auto;
}
.basic-inf {
    /* 两边次要内容浮动 */
    float: left;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #999999;
}
.basic-inf img {
    float: left;
    width: 60px;
}
.describ {
    font-size: 14px;
    font-weight: bold;
}
.addition-inf {
    /* 两边次要内容浮动 */
    float: right;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #999999;
}
.wrap figure {
    margin: 10px;
}
.wrap figure img {
    width: 80px;
    border: 1px solid #999999;
}
.main-content {
    padding: 20px;
    /* 关键 给左右一个合适的外边距 */
    margin: 0 140px 0 180px;
    background-color: #ffffff;
    border: 1px solid #999999;
}
.main-content h3 {
    margin: 10px 0;
}
.main-content .content,
.main-content p {
    font-size: 14px;
}