<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>药品详情</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../css/drugdetails.css">
</head>
<body>
<header>
    <a href="#" class="goback" onclick="javascript:history.back(-1)"></a>
    <p>药品详情</p>
</header>

<div class="drugdetails">
    <div class="type">
        <div class="title"><img src="../images/task/drug/drug-icon01.png" alt="">药品基本信息</div>
        <div class="content">
            <div><label>药品编码：</label></div>
            <div><label>药品名称：</label></div>
            <div><label>单位规格：</label></div>
            <div><label>单价：</label></div>
            <div><label>单位：</label></div>
            <div class="last"><label>剂型：</label>胶囊</div>
        </div>
    </div>
    <div class="type">
        <div class="title"><img src="../images/task/drug/drug-icon02.png" alt="">包装信息</div>
        <div class="content">
            <div><label>包装规格：</label></div>
            <div><label>包装单位：</label></div>
            <div><label>包装类型：</label></div>
            <div><label>规格：</label></div>
            <div><label>体积：</label></div>
            <div class="last"><label>包装重量：</label>胶囊</div>
        </div>
    </div>
    <div class="type">
        <div class="title"><img src="../images/task/drug/drug-icon03.png" alt="">厂家信息</div>
        <div class="content">
            <div><label>生产厂家：</label></div>
            <div><label>生产日期：</label></div>
            <div><label>有效期至：</label></div>
            <div><label>批号：</label></div>
            <div class="last"><label>批准文号：</label>胶囊</div>
        </div>
    </div>
    <div class="type">
        <div class="title"><img src="../images/task/drug/drug-icon04.png" alt="">库存信息</div>
        <div class="content">
            <div><label>仓库名称：</label></div>
            <div><label>库存数量：</label></div>
            <div><label>储存单价：</label></div>
            <div><label>联系人：</label></div>
            <div><label>联系方式：</label></div>
            <div class="last"><label>地址：</label></div>
        </div>
        <div class="content">
            <div><label>仓库名称：</label></div>
            <div><label>库存数量：</label></div>
            <div><label>储存单价：</label></div>
            <div><label>联系人：</label></div>
            <div><label>联系方式：</label></div>
            <div class="last"><label>地址：</label></div>
        </div>
    </div>
</div>

</body>
</html>