<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>实时详情</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../css/livedetails.css">
</head>
<body>
    <header>
        <a href="#" class="goback" onclick="javascript:history.back(-1)"></a>
        <p>实时详情</p>
    </header>
    <div class="livedetails">
        <div class="map">
            <img src="../images/task/new-map.jpg" alt="">
        </div>
        <div class="describe">
            <p><span class="order">订单已到达</span> 重庆渝北区金开大道1596号</p>
            <p class="order">订单已签收</p>
        </div>
    </div>

</body>
</html>