<!--registerpassword-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>注册</title>
    <link rel="stylesheet" href="../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../views/css/login.css">
</head>
<body>
<header>
    <!--<a href="javascript:history.go(-1)" class="goback">返回</a>-->
    <p>设置密码</p>
</header>
<div class="registerpassword">
    <form action="" >
        <ul>
            <li>
                <div class="am-u-sm-4">设置密码：</div>
                <div class="am-u-sm-8">
                    <input type="password" placeholder="请输入密码" id="newpwd">
                </div>
            </li>
            <li>
                <div class="am-u-sm-4">确认密码：</div>
                <div class="am-u-sm-8">
                    <input type="password" placeholder="请输入确认密码" id="conpwd">
                </div>
            </li>
        </ul>
    </form>

</div>
<div class="register-submit" onclick="registerConfirmPwd()">提交</div>
<script src="../commonjs/jquery-2.1.0.js"></script>
<script src="../views/js/login.js"></script>

</body>
</html>














