<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>完善资料</title>
    <link rel="stylesheet" href="../../commoncss/amazeui.min.css">
    <link rel="stylesheet" href="../plugin/uploadimg/uploadimg.css">
    <link rel="stylesheet" href="../css/perfectdata.css">
</head>
<body>
<header>
    <a href="#" class="goback" onclick="javascript:history.go(-1)">返回</a>
    <p>完善资料</p>
</header>
<div class="perfectdata">
    <form action="" >
        <ul>
            <!--<li class="headerimg">-->
                <!--<div class="am-u-sm-4">公司头像：</div>-->
                <!--<div class="am-u-sm-8">-->
                    <!--<input type="text">-->
                <!--</div>-->
            <!--</li>-->
            <li>
                <div class="am-u-sm-4">公司名称：</div>
                <div class="am-u-sm-8">
                    <input type="text" placeholder="请输入公司名称">
                </div>
            </li>
            <li>
                <div class="am-u-sm-4">营业执照编码：</div>
                <div class="am-u-sm-8">
                    <input type="text" placeholder="请输入营业执照编码">
                </div>
            </li>
            <li>
                <div class="am-u-sm-4">法人姓名：</div>
                <div class="am-u-sm-8">
                    <input type="text" placeholder="请输入法人姓名">
                </div>
            </li>
            <li>
                <div class="am-u-sm-4">联系方式：</div>
                <div class="am-u-sm-8">
                    <input type="text" placeholder="请输入联系方式">
                </div>
            </li>
            <li>
                <div class="am-u-sm-4">公司地址：</div>
                <div class="am-u-sm-8">
                    <input type="text" placeholder="请输入公司地址">
                </div>
            </li>
            <li class="data">
                <div class="">资质证明文件 <span>（不超过5张）</span>：</div>
                <div class="img-box full">
                    <section class=" img-section">
                        <div class="z_photo upimg-div clear" >
                            <section class="z_file fl">
                                <div class="add-img">+</div>
                                <input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
                            </section>
                            <section class="clear"></section>
                        </div>
                    </section>
                </div>
                <aside class="mask works-mask">
                    <div class="mask-content">
                        <p class="del-p">您确定要删除吗？</p>
                        <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
                    </div>
                </aside>
            </li>
        </ul>
    </form>

</div>
<div class="submit">提交</div>
<script src="../../commonjs/jquery-2.1.0.js"></script>
<script src="../plugin/uploadimg/uploadimg.js"></script>
<script src="../js/login.js"></script>
</body>
</html>













