html,
body {
    margin: 0;
    padding: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

td {
    padding: 2px 10px;
    text-align: center;
}

th {
    padding: 4px 10px;
    text-align: left;
    background-color: #000000;
    color: #ffffff;
}

/* 还可以用 odd 或 even */
tbody tr:nth-child(2n) {
    background-color: #bbbbbb;
}

/* 前三个 */
tbody tr:nth-child(-n+3) {
    color: #ff0000;
}

.input-wrapper {
    margin: 10px 0;
}

.input-wrapper input {
    width: 160px;
    padding: 4px 8px;
    border: 1px solid cadetblue;
    border-radius: 16px;
    outline: none;
    transition: border-color, width 0.4s;
}

.input-wrapper input:focus {
    width: 240px;
    border-color: rgb(35, 94, 221);
}

/* 最外层容器 */
.slide {
    position: relative;
    width: 400px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    overflow: hidden;
}

/* 切换区 */
.pager {
    margin: 10px 0;
    padding: 0;
    width: 9999px;
    transition: all 0.8s;
    overflow: hidden;
}

/* 切换区每一屏 */
.pager li {
    float: left;
    width: 400px;
    height: 200px;
    line-height: 200px;
    list-style: none;
    font-size: 34px;
    color: #ffffff;
}

.pager li:nth-child(1) {
    background-color: #ff0000;
}

.pager li:nth-child(2) {
    background-color: #00ff00;
}

.pager li:nth-child(3) {
    background-color: #0000ff;
}

.slide input[name="slideInput"] {
    display: none;
}

/* 小圆点 */
.slide label[for^="slide"] {
    position: absolute;
    top: 170px;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    line-height: 20px;
    font-size: 12px;
    background-color: rgba(100, 100, 100, 0.6);
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slide label[for="slide1"] {
    right: 70px;
}

.slide label[for="slide2"] {
    right: 40px;
}

.slide label[for="slide3"] {
    right: 10px;
}

/* 第一个label被点击后第一个隐藏input被选中，该隐藏input的所有兄弟元素ul,
*  不能替换为+，加号指相邻同辈元素
*/
#slide1:checked~ul {
    margin-left: 0;
}

#slide2:checked~ul {
    margin-left: -400px;
}

#slide3:checked~ul {
    margin-left: -800px;
}